/* mainVisual_slide.css */

#slide{
	position:relative;
	top:0;
	left:0;
	/* width: 100%; */
	/* height:auto; */
}

#slide img {
	position:absolute;
	left:0;
	top:0;
	opacity: 0;
	object-fit: cover;
}
