/*初期設定*/
* {
  margin: 0px;
  padding: 0px;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: #fff;
  color: #333;
  font-size: 62.5%;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}
ul li {
  list-style: none;
}
a:link {
  color: #333;
  text-decoration: none;
}
a:visited {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #333;
  text-decoration: none;
}
a img {
  border-width: 0px;
  border-style: none;
  border-color: #fff;
  background: transparent;
}
button {
  border-style: none;
  color: #333;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
header {
  background: #fff;
}

footer {
  background: #f4f4f4;
}
.bold {
  font-weight: bold;
}
.fa-window-restore {
  font-size: 1.2rem;
  font-size: 12px;
}
.century {
  font-family: "Century Gothic","Futura";
}

/*pc*/
@media screen and (min-width:769px){
  body {
    font-size: 1.2rem;
    font-size: 12px;
  }
  .pc {
    display: block !important;
  }
  .sp {
    display: none !important;
  }
/*header*/
    .header {
    width: 100%;
    height: 104px;
    position: fixed;
    z-index: 100;
    top: 0;
    box-shadow: 0 1px 3px rgba(4,0,0,0.2);
  }
  .head-area {
    width: 1000px;
    margin: 0 auto;
    padding-top: 39px;
    padding-bottom: 28px;
    padding-left: 20px;
    padding-right: 20px;
  }
  h1 {
    float: left;
    line-height: 44px;
  }
  nav {
    margin-top: -5px;
    float: right;
  }
  nav ul li{
    display: inline-block;
  }
  nav ul li:not(:first-child) {
    margin-left: 40px;
  }

  nav ul li a {
    display: inline-block;
  }
  .nav-img01 {
    display: block;
    background: url(pc_images/pc_nav_img01.png) no-repeat;
    background-position: top;
    text-align: center;
    padding-top: 24px;
  }
  .nav-img01:hover {
    display: block;
    background: url(pc_images/pc_nav_img01_1.png) no-repeat;
    background-position: center;
    background-position: top;
    padding-top: 24px;
  }
  .nav-img02 {
    display: block;
    background: url(pc_images/pc_nav_img02.png) no-repeat;
    background-position: center;
    background-position: top;
    text-align: center;
    padding-top: 24px;
  }
  .nav-img02:hover {
    display: block;
    background: url(pc_images/pc_nav_img02_2.png) no-repeat;
    background-position: center;
    background-position: top;
    padding-top: 24px;
  }
  .nav-img03 {
    display: block;
    background: url(pc_images/pc_nav_img03.png) no-repeat;
    background-position: center;
    background-position: top;
    text-align: center;
    padding-top: 24px;
  }
  .nav-img03:hover {
    display: block;
    background: url(pc_images/pc_nav_img03_3.png) no-repeat;
    background-position: center;
    background-position: top;
    padding-top: 24px;
  }
  .nav-img04 {
    display: block;
    background: url(pc_images/pc_nav_img04.png) no-repeat;
    background-position: center;
    background-position: top;
    text-align: center;
    padding-top: 24px;
  }
  .nav-img04:hover {
    display: block;
    background: url(pc_images/pc_nav_img04_4.png) no-repeat;
    background-position: center;
    background-position: top;
    padding-top: 24px;
  }
  nav ul li a:hover {
    color: #fed435;
  }

/*main*/
    main {
    margin-top: 104px;
    overflow: hidden;
    }
  .wrap {
    width: 1000px;
    margin: 0 auto;
    padding-top: 90px;
    padding-left:20px;
    padding-right: 20px;
    }
  .mainvisual-slide {
    height: 540px;
    background: url(pc_images/pc_hero_img01.png) no-repeat center / cover;
    }
  .mainvisual-large-txt {
    width: 500px;
    margin-left: 610px;
    font-size: 6rem;
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 5px rgba(51, 51, 51, 0.5);
  }
  .mainvisual-small-txt {
    width: 500px;
    font-size: 1.8rem;
    font-size: 18px;
    line-height: 36px;
    margin-left: 615px;
    padding-left: 28px;
    color: #fff;
    text-shadow: 0 0 5px rgba(51, 51, 51, 0.5);
  }
  .main-content {
    width: 1000px;
    margin: 0 auto;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .contents:nth-child(odd) {
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1.4rem;
    font-size: 14px;
    width: 500px;
    height: 476px;
    float: right;
    box-sizing: border-box;
  }
  .contents:nth-child(even) {
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1.4rem;
    font-size: 14px;
    width: 500px;
    height: 476px;
    float: left;
    box-sizing: border-box;
  }
  .contents:first-of-type {
    border-bottom: solid 1px #333;
  }
  .contents:nth-of-type(2) {
    border-bottom: solid 1px #333;
    border-left: solid 1px #333;
  }
  .contents:nth-of-type(4) {
    border-left: solid 1px #333;
  }
  h2 {
    font-size: 2.2rem;
    font-size: 22px;
    text-align: center;
    line-height: 1em;
  }
  h2 img {
    margin: 0 auto;
  }
  .content-txt {
    margin: 22px 0;
  }
  .kuwasiku-btn {
    text-align: center;
  }
  .kuwasiku-btn {
    font-weight: bold;
    background: #fed435;
    padding: 13px 153px;
  }
  .kuwasiku-btn:hover {
    color: #fff;
    background: #333;
    padding: 13px 153px;
  }
/*コンテンツ２*/
  .second-contents {
    display: inline-block;
    margin-top: 120px;
    margin-bottom: 100px;
    font-size: 1.4rem;
    font-size: 14px;
  }
  .more-contents-btn {
    text-align: center;
    border: solid 1px #333;
    box-sizing: border-box;
  }
  .more-contents-btn:hover {
    background: #fed435;
    border: solid 1px #fed435;
  }
  .large {
    width: 496px;
    height: 160px;
    margin-bottom: 8px;
    float: left;
    box-sizing: border-box;
  }
  .large:not(:last-child) {
    margin-right: 8px;
  }
  .riyu {
    padding-top: 47px;
    padding-bottom: 39px;
  }
  .riyu img {
    margin: 0 auto;
  }
  .riyu p:last-child {
    padding-top: 26px;
  }
  .riyu-link {
    display: block;
    margin: -47px 0px -34px;
    padding: 47px 0px 34px;
  }
  .baikyaku-link {
    display: block;
    margin: -42px 0px -34px;
    padding: 42px 0px 34px;
  }

  .baikyaku {
    padding-top: 41px;
    padding-bottom: 21px;
  }
  .baikyaku img {
    margin: 0 auto;
  }
  .baikyaku p:last-child {
    padding-top: 21px;
  }
  .small {
    width: 160px;
    height: 160px;
    padding-top: 41px;
    float: left;
    box-sizing: border-box;
    line-height: 1.3em;
  }
  .small:not(:last-child) {
    margin-right: 8px;
  }
  .zisseki img,.shitsumon img,.koe img,.kaisha img {
    margin: 0 auto;
    margin-bottom: 21px;
  }
  .kounyukibou img,.sutaffu img {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .zisseki-link {
    display: block;
    margin: -41px 0 -35px;
    padding: 41px 0 35px;
  }
  .shitsumon-link {
    display: block;
    margin: -41px 0 -18px;
    padding: 41px 0 18px;
  }
  .kounyukibou-link {
    display: block;
    margin: -41px 0 -18px;
    padding: 41px 0 18px;
  }
  .sutaffu-link {
    display: block;
    margin: -41px 0 -36px;
    padding: 41px 0 36px;
  }
  .koe-link {
    display: block;
    margin: -41px 0 -35px;
    padding: 41px 0 35px;
  }
  .kaisha-link {
    display: block;
    margin: -41px 0 -35px;
    padding: 41px 0 35px;
  }
/*情報*/
  .info-content {
    padding-top: 60px;
    padding-bottom: 62px;
    background: #fffbea;
  }
  .info-content-wrap {
    width: 1000px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  h3 {
    font-size: 1.8rem;
    font-size: 18px;
  }
  /*情報コンテンツ*/
  .service {
    width: 500px;
    padding-right: 20px;
    float: left;
    box-sizing: border-box;
  }
  .info-box {
    padding-top: 31px;
    padding-bottom: 23px;
    border-bottom: solid 1px #000;
    box-sizing: border-box;
  }
  .info-box:last-of-type {
    margin-bottom: 30px;
  }
  .info-wrap {
    padding-bottom: 18px;
  }
  .info-img {
    margin-right: 26px;
    float: left;
  }
  .info-img:not(:first-child) {
    background: #000;
    margin-top: 10px;
  }
  .info-txt {
    font-size: 1.4rem;
    font-size: 14px;
  }
  .info-txt a:hover {
    color: #fed435;
  }
  .ballon {
    position: relative;
  }
  .ballon:before {
    content: "";
    position: absolute;
    top: 5px;
    left:  -30px;
    border: solid 20px transparent;
    border-right: solid 20px #fed435;
  }
  .ballon {
    float: left;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    background: #fed435;
  }
  .ballon-txt {
    line-height: 1.6em;
  }
  .yugo {
    font-size: 2.2rem;
    font-size: 22px;
  }

  /*CM*/
  .new-video {
    width: 500px;
    padding-left: 20px;
    float: right;
    box-sizing: border-box;
  }
  .video-box {
    padding-top: 31px;
  }
  .video-box:last-of-type {
    padding-bottom: 40px;
  }
  .video01 {
    width: 384px;
    height: 215px;
    margin: 0 auto;
    padding-bottom: 11px;
  }

  .video02 {
    width: 384px;
    height: 215px;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  .video-link {
    display: block;
    text-align: center;
    font-size: 1.4rem;
    font-size: 14px;
  }
  .video-link:hover {
    color: #fed435;
  }

  .learn-more {
    float: right;
  }
  .learn-more:hover {
    color: #fed435;
  }
  /* お問合せ*/
  .contact {
    padding-top: 59px;
    padding-bottom: 60px;
    background: #fed435;
    text-align: center;
  }
  .contact-wrap {
    width: 1000px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .otoi-txt {
    font-size: 1.8rem;
    font-size: 18px;
  }
  .freedial-box {
    width: 381px;
    height: 39px;
    margin: 0 auto;
    padding-top: 23px;
    padding-bottom: 53px;
    position: relative;
  }
  .icon {
    top: 0;
    left: 0;
  }
  .phone {
    position: absolute;
    top: 6px;
    left: 67px;
    font-size: 5.2rem;
    font-size: 52px;
  }
  .contact-btn {
    width: 420px;
    height: 50px;
    line-height: 50px;
    margin-top: 22px;
    border: solid 1px #333;
    font-size: 2.2rem;
    font-size: 22px;
    font-weight: bold;
  }
  a .contact-btn:hover {
    background: #333;
    color: #fed435;
  }
  .pamphlet {
    width: 500px;
    padding-left: 40px;
    padding-right: 40px;
    float: left;
    box-sizing: border-box;
    border-right: solid 1px #333;
  }
  .pamphlet p {
    font-size: 1.4rem;
    font-size: 14px;
  }
  .pamphlet img {
    margin-bottom: 21px;
  }
  .assessment {
    width: 500px;
    padding-left: 40px;
    padding-right: 40px;
    float: right;
    box-sizing: border-box;
  }
  .assessment img {
    margin-bottom: 21px;
  }
  .assessment p {
    font-size: 1.4rem;
    font-size: 14px;
  }
  .contact-box {
    width: 100%;
    position: relative;
  }
  .pamphlet02 {
    position: absolute;
    top: 0;
    right: 10px;
  }
  .otoi02 {
    position: absolute;
    top: 0;
    right:40px;
  }
  .page-top {
    padding-top: 31px;
    padding-bottom: 31px;
    text-align: center;
  }
  .page-top a:hover {
    color: #fed435;
  }



/*footer*/
footer {
}
  .foot-area {
    width: 1000px;
    margin: 0 auto;
    padding-top: 59px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .foot-area ul {
    float: left;
    padding-bottom: 53px;
  }
  .foot-area ul li:not(:first-child) {
    margin-top: 8px;
  }
  .foot-area ul:first-child {
    margin-right: 85px;
  }
  .foot-area ul:nth-child(even) {
    margin-right: 85px;
  }
  .foot-area ul:nth-child(3) {
    margin-right: 50px;
  }
  .foot-area ul li a:hover {
    color: #fed435;
  }
  /*footerスライダー*/
  .swiper-container {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
  }
  .swiper-wrapper {
    padding-left: 15px;
  }
  .swiper-slide {
    height: 80px;
  }
  .swiper-slide a:hover {
    opacity: 0.7;
  }
  .swiper-button-prev {
    width: 0;
    left: 0;
    background-image: none;
    font-size: 2em;
    color: #333;
  }
  .swiper-button-prev:hover {
    background-image: none;
    color: #fed435;
  }
  .swiper-button-next {
    width: 0;
    background-image: none;
    font-size: 2em;
    color: #333;
  }
  .swiper-button-next:hover {
    background-image: none;
    color: #fed435;
  }
  .foot-line {
    margin-top: 60px;
    background: #333;
    color: #fff;
  }
  .foot-line-area {
    width: 1000px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer-logo {
    padding-top: 10px;
    padding-bottom: 9px;
    float: left;
  }
  .foot-line-txt {
    padding-top: 6px;
    font-size: 1.1rem;
    font-size: 11px;
    float: right;
  }
}
/*sp*/
@media screen and (max-width:768px) {
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
  body {
    font-size: 1.4rem;
    font-size: 14px;
  }
  img {
    width: 100%;
    height: auto;
  }
  header {
    width: 100%;
    height: 52px;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0 1px 3px rgba(4,0,0,0.2);
  }
  h1 {
    width: 0%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 10px;
  }
  h1 img {
    min-width: 209px;
    min-height: 18px;
  }
  .toggle {
    position: fixed;
    right: 0px;
    top: 0px;
    display: block;
    width: 52px;
    height: 52px;
    cursor: pointer;
    z-index: 3;
    background: #fed435;
  }
  .toggle span:not(:last-child) {
    display: block;
    position: absolute;
    width: 42%;
    border-bottom: solid 2px #333;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    /* padding-top: 5px; */
    right: 15px;
  }
  .toggle span:last-child {
    display: block;
    position: absolute;
    border-bottom: solid 3px #333;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    padding-top: 5px;
  }
  .toggle span:nth-child(1) {
    top: 10px;
  }
  .toggle span:nth-child(2) {
    top: 16px;
  }
  .toggle span:nth-child(3) {
    top: 23px;
  }
  .toggle span:nth-child(4) {
    border: none;
    width: 100%;
    padding-top: 33px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
  }
  .toggle.active span:nth-child(1) {
      top: 15px;
      left: 16px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg);
  }
  .toggle.active span:nth-child(2),
.toggle.active span:nth-child(3) {
    top: 15px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .global-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    z-index: 2;
    background: #333;
    transition: all 0.8s;
  }
  .global-nav.active {
    transform: translateY(0%);
    position: fixed;
    top: 52px;
    left: 0;
  }
  .global_nav .nav-li {
    width: 100%;
    padding: 10px;
    list-style-type: none;
  }
  .nav-li {
    height: 40px;
    line-height: 40px;
    border-bottom: solid 1px #fff;
  }
  .nav-li:last-child {
    height: 40px;
    line-height: 40px;
    box-shadow: 0 1px 3px rgba(4,0,0,0.2);
  }
  .nav-txt {
    display: block;
    padding-left: 10px;
    color: #fff;
  }
  .nav-txt:hover {
    padding-left: 10px;
    color: #fed435;
  }
  .nav-img01, .nav-img02, .nav-img03, .nav-img04 {
    display: block;
  }
/*main*/
  main {
    max-width: 768px;
    margin-top: 52px;
  }
  .mainvisual-slide {
    width: 100%;
    height: auto;
  }
  /* #slide img {
    width: 100%;
  } */
  .main-content {
    height: auto;
    text-align: center;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 61px;
  }
  .contents {
    padding-left: 20px;
    padding-right: 20px;
  }
  .contents {
    padding-top: 60px;
  }
  h2 {
    font-size: 2.2rem;
    font-size: 22px;
  }
  h2 img {
    width: 50%;
    margin: 0 auto;
  }
  .content-txt {
    text-align: left;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .kuwasiku-btn {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 11px;
    background: #fed435;
  }
  .kuwasiku-btn:hover {
    background: #333;
    color: #fff;
  }
  .second-contents {
    padding-top: 100px;
  }
  .second-contents  img{
    width: 25%;
  }
  .more-contents-btn {
    text-align: center;
  }

  .large {
    border: solid 1px #333;
    box-sizing: border-box;
    font-size: 1.8rem;
    font-size: 18px;
  }
  .large:first-child {
    margin-bottom: 10px;
  }
  .large:hover {
    border-style: none;
    background: #fed435;
  }
  .riyu {
    padding-top: 44px;
    padding-bottom: 41px;
  }
  .riyu p:last-child {
    padding-top: 23px;
  }
  .riyu img {
    margin: 0 auto;
  }
  .baikyaku {
    padding-top: 41px;
    padding-bottom: 40px;
  }
  .baikyaku p:last-child {
    padding-top: 20px;
  }
  .baikyaku img {
    margin: 0 auto;
  }
  .small-wrap {
    width: 100%;
    margin-top: 10px;
  }
  .small {
    width: 48.5%;
    height: 151px;
    border: solid 1px #333;
    box-sizing: border-box;
  }
  .small:hover {
    background: #fed435;
    border: solid 1px #fed435;
  }
  .small:nth-child(odd) {
    float: left;
  }
  .small:nth-child(even) {
    float: right;
  }
  .zisseki {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 10px;
  }
  .zisseki p:last-child {
    padding-top: 21px;
  }
  .zisseki img {
    width: 44px;
    height: 36px;
    margin: 0 auto;
  }
  .zisseki-link {
    display: block;
    margin: -41px 0 -32px;
    padding: 41px 0 32px;
  }
  .shitsumon {
    padding-top: 39px;
    padding-bottom: 39px;
    margin-bottom: 10px;
  }
  .shitsumon p:last-child {
    padding-top: 21px;
  }
  .shitsumon img {
    width: 36px;
    height: 36px;
    margin: 0 auto;
  }
  .shitsumon-link {
    display: block;
    margin: -41px 0 -16px;
    padding: 41px 0 16px;
  }
  .kounyukibou {
    padding-top: 40px;
    padding-bottom: 21px;
    margin-bottom: 10px;
  }
  .kounyukibou p:last-child {
    padding-top: 20px;
    line-height: 1.3em;
  }
  .kounyukibou img {
    width: 42px;
    height: 36px;
    margin: 0 auto;
  }
  .kounyukibou-link {
    display: block;
    margin: -41px 0 -20px;
    padding: 41px 0 20px;
  }
  .sutaffu {
    padding-top: 40px;
    padding-bottom: 41px;
    margin-bottom: 10px;
  }
  .sutaffu p:last-child {
    padding-top: 19px;
  }
  .sutaffu img {
    width: 49px;
    height: 36px;
    margin: 0 auto;
  }
  .sutaffu-link {
    display: block;
    margin: -41px 0 -33px;
    padding: 41px 0 33px;
  }
  .koe {
    padding-top: 40px;
    padding-bottom: 41px;
  }
  .koe p:last-child {
    padding-top: 19px;
  }
  .koe img {
    width: 33px;
    height: 36px;
    margin: 0 auto;
  }
  .koe-link {
    display: block;
    margin: -41px 0 -33px;
    padding: 41px 0 33px;
  }
  .kaisha {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .kaisha p:last-child {
    padding-top: 19px;
  }
  .kaisha img {
    width: 36px;
    height: 36px;
    margin: 0 auto;
  }
  .kaisha-link {
    display: block;
    margin: -41px 0 -33px;
    padding: 41px 0 33px;
  }
  .info-content {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background: #fffcf2;
  }
  .info-content-wrap {
    padding-left: 10px;
    padding-right: 10px;
  }
  h3 {
    font-size: 1.8rem;
    font-size: 18px;
    margin-bottom: 30px;
  }
  .info-box {
    border-bottom: solid 1px #000;
    padding-bottom: 21px;
    margin-bottom: 30px;
  }
  .info-img {
    padding-left: 27px;
    padding-right: 43px;
  }
  .info-img01 {
    max-width: 480px;
  }
  .info-img02 {
    max-width: 478px;
  }
  .info-img03 {
    max-width: 481px;
  }
  .info-wrap img {
    margin: 0 auto;
    width: 100%;
  }
  .ballon {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 9px;
    margin-top: 22px;
    margin-bottom: 19px;
    background: #fed435;
  }
  .ballon-txt {
    font-size: 1.2rem;
    font-size: 12px;
  }
  .yugo {
    font-size: 2.2rem;
    font-size: 22px;
  }
  .learn-more {
    font-size: 1.2rem;
    font-size: 12px;
    float: right;
  }
  .learn-more:hover {
    color: #fed435;
  }
  .new-video {
    padding-top: 60px;
  }
  .video-box {
    text-align: center;
    margin-bottom: 30px;
  }
  .video01 {
    margin: 0 auto;
    width: 300px;
    height: 168px;
    text-align: center;
    padding-bottom: 14px;
  }
  .video02 {
    margin: 0 auto;
    width: 300px;
    height: 168px;
    text-align: center;
    padding-bottom: 14px;
  }
  iframe {
    width: 100%;
  }


  .contact {
    background: #fed435;
  }
  .contact-wrap {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }
  .contact-box {
    width: 100%;
    position: relative;
  }
  .pamphlet01 {
    width: 90%;
  }
  .pamphlet02 {
    width: 30%;
    position: absolute;
    top: 0;
    right: 0;
  }
  .otoi01 {
    width: 90%;
  }
  .otoi02 {
    width: 30%;
    position: absolute;
    top: 0;
    right: 0;
  }

  .assessment:last-child {
    margin-top: 40px;
    padding-top: 40px;
    border-top: solid 1px #333;
  }
  .otoi-txt {
    font-size: 1.8rem;
    font-size: 18px;
  }
  .freedial-box {
    border: solid 2px #333;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: 20px;
    margin-bottom: 31px;
    box-sizing: border-box;
  }
  .freedial {
    float: left;
    padding-left: 10%;
    padding-top: 8px;
  }
  .freedial img {
    width: 31px;
    height: 20px;
  }
  .phone {
    top: 0;
    font-size: 2.8rem;
    font-size: 28px;
  }
  .pamphlet img {
    padding-bottom: 20px;
  }
  .assessment img {
    padding-bottom: 19px;
  }
  .contact-btn {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: 20px;
    border: solid 1px #333;
    font-size: 2.2rem;
    font-size: 22px;
  }
  .contact-btn:hover {
    background: #333;
    color: #fed435;
  }
  .page-top {
    padding-top: 29px;
    padding-bottom: 29px;
    text-align: center;
  }


/*footer*/
  footer {
    padding-top: 59px;
  }
  .foot-area {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 63px;
  }
  .foot-area ul {
    width: 145px;
    float: left;
  }
  .foot-area ul:first-child {
    margin-right: 10px;
  }
  .foot-area ul li:not(:first-child) {
    margin-top: 11px;
  }
  .foot-area .fa-window-restore {
    font-size: 1rem;
    font-size: 10px;
  }
  .swiper-container-sp {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    overflow: hidden;
  }
  .foot-area {
    font-size: 1.1rem;
    font-size: 11px;
  }
  .swiper-wrapper {
    padding-left: 20px;
  }
  .swiper-slide a:hover {
    opacity: 0.7;
  }
  .swiper-slide img {
    width: 80%;
  }
  .swiper-button-prev {
    width: 0;
    background-image: none;
    font-size: 2em;
  }
  .swiper-button-next {
    width: 0;
    background-image: none;
    padding-right: 10px;
    font-size: 2em;
  }
  .footer-logo img {
    margin: 0 auto;
    width: 25%;
  }
  .foot-line-txt {
    padding-top: 10px;
  }
  .foot-line {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 61px;
    background: #333;
    font-size: 1.1rem;
    font-size: 11px;
    text-align: center;
    color: #fff;
  }

}
